<div>
  <div>
    <h1>
      List of all Books and Articles
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new book or article
    </h2>

    <form action="/insert_books_article" method="post">
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div>
        <label for="url_box">
          URL, if online article
        </label>

        <input type="text" id="url_box" name="query_url">
      </div>

      <div>
        <label for="date_published_box">
          Date published
        </label>

        <input type="date" id="date_published_box" name="query_date_published">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <label for="genre_box">
          Genre
        </label>
        
        <select id="query_genre" name="query_genre">
          <%genrearray = BooksArticle.distinct.pluck(:genre)%>
          <%genrearray.each do |genre|%>
           <option value="<%=genre%>"><%=genre%></option>
          <%end%>
          <option value="Other">Other</option>
        </select>
        
      </div>
      <div>
      <label for="other_genre">
          If you chose the genre of Other, please be more specific. 
        </label>
      <input type="text" id="other_genre" name="other_genre">
      </div>
      <div>
        <label for="author_id_box">
          Author
        </label>

        <select id="query_author_id" name="query_author_id">
          <%Author.all.each do |author|%>
           <option value="<%=author.id%>"><%=author.name%></option>
          <%end%>
        </select>
      </div>

      <div>
        If the author is not in the list, please add him or her <a href="/authors">here</a>
      </div>
      <button>
        Add the book or article
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Url
        </th>

        <th>
          Date published
        </th>

        <th>
          Description
        </th>

        <th>
          Genre
        </th>

        <th>
          Author
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_books_articles.each do |a_books_article| %>
      <tr>
        <td>
          <%= a_books_article.id %>
        </td>

        <td>
          <%= a_books_article.title %>
        </td>

        <td>
          <%= a_books_article.url %>
        </td>

        <td>
          <%= a_books_article.date_published %>
        </td>

        <td>
          <%= a_books_article.description %>
        </td>

        <td>
          <%= a_books_article.genre %>
        </td>

        <td>
          <%= a_books_article.author_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_books_article.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_books_article.updated_at) %> ago
        </td>

        <td>
          <a href="/books_articles/<%= a_books_article.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
