<div>
  <div>
    <h1>
      List of all tags
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new tag
    </h2>

    <form action="/insert_tag" method="post">
      <div>
        <label for="tag_box">
          Tag
        </label>

        <input type="text" id="tag_box" name="query_tag">
      </div>

      <button>
        Create tag
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Tag
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_tags.each do |a_tag| %>
      <tr>
        <td>
          <%= a_tag.id %>
        </td>

        <td>
          <%= a_tag.tag %>
        </td>

        <td>
          <%= time_ago_in_words(a_tag.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_tag.updated_at) %> ago
        </td>

        <td>
          <a href="/tags/<%= a_tag.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
