<head>
<style>
    label {
            display: inline-block;
            width: 300px;
          }
  </style>
</head>

<body>

<div>
  <div>
    <h1>
      List of all reviews
    </h1>
  </div>
</div>

<hr>

<div>
  <div class="blue">
    <h2>
      Add a new review
    </h2>

    <br>

    <form action="/insert_review" method="post" class="tab">
          <div>

            <label for="query_book_article_id">
              Which book or article is this review for?
            </label>

          
            <select name="query_book_article_id" id="query_book_article_id">
              <%@list_of_book_articles.each do |bookorart|%>
                <option value="<%=bookorart.id%>"><%=bookorart.title%></option>
              <%end%>
            </select>
          </div>
       
        
          <div class = "tab" style= "text-indent: 285px;">
            <i>
              If the book or article is not in the list, please add it <a href="/books_articles">here</a>
            </i>
          </div>
          <br>
          <div>
            <label for="query_rating">
              Rating
            </label>
            <select name="query_rating" id="query_rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
          </div>

          <br>

          <div>
            <label for="query_notes">
              Notes
            </label>

            <textarea id="query_notes" name="query_notes" rows="5" cols="60"></textarea>
          </div>
          <br>
          <div>
            <label for="query_recommend">
              Recommend to Others?
            </label>

            <select name="query_recommend" id="query_recommend">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
          </div>
          <br>
          <div>

            <label for ="query_tags">
                Review Tags (separate each tag by a comma)
              </label>
              <textarea id="query_tags" name="query_tags" rows="1" cols="60"></textarea>
          </div>
          <br>
    
          <br>
          <button>
            Create review
          </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
       

       

        <th>
          Book or Article Title
        </th>

        <th>
          Reviewer
        </th>

         <th>
          Rating
        </th>

        <th>
          Notes
        </th>

        <th>
          Recommend to Others?
        </th>

        <th>
          Created
        </th>

        <th>
          Updated
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_reviews.each do |a_review| %>
      <tr>
       


        <td>
          <%= a_review.book_article.title %>
        </td>

        <td>
          <%= a_review.user.name %>
        </td>

        
        <td>
          <%= a_review.rating %>
        </td>

        <td>
          <%= a_review.notes %>
        </td>

        <td>
          <%= a_review.recommend %>
        </td>

        <td>
          <%= time_ago_in_words(a_review.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_review.updated_at) %> ago
        </td>

        <td>
          <a href="/reviews/<%= a_review.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
</body>