<div>
  <div>
    <h1>
      List of my reviews
    </h1>
  </div>
</div>

<hr>

<div>
<%if @list_of_reviews.count >= 2%>
  <h2>You have read <%=@list_of_reviews.count%> books and articles! </h2>
<%else%>
  <h2>Keep reading and reviewing!</h2>
</div>


<div>
  <div>
    <h2>
      Add a new review
    </h2>

    <form action="/insert_review" method="post">
        <div>
        <label for="query_book_article_id">
          Which book or article is this review for?
        </label>

        
          <select name="query_book_article_id" id="query_book_article_id">
            <%@list_of_book_articles.each do |bookorart|%>
              <option value="<%=bookorart.id%>"><%=bookorart.title%></option>
            <%end%>
          </select>

       
          
      </div>

      <div>
        If the book or article is not in the list, please add it <a href="/books_articles">here</a>
      </div>

      <div>
        <label for="query_rating">
          Rating
        </label>
        <select name="query_rating" id="query_rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
      </div>

      <div>
        <label for="query_notes">
          Notes
        </label>

        <textarea id="query_notes" name="query_notes" rows="5" columns="50"></textarea>
      </div>

      <div>
        <label for="query_recommend">
          Recommend to Others?
        </label>

        <select name="query_recommend" id="query_recommend">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
      </div>

      <div>

      <label for ="query_tags">
          Review Tags (separate each tag by a comma)
        </label>
        <textarea id="query_tags" name="query_tags" rows="2" columns="50"></textarea>
      </div>

    

      <button>
        Create review
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
       

       

        <th>
          Book or Article Title
        </th>

        <th>
          Rating
        </th>

        <th>
          Notes
        </th>

        <th>
          Recommend to Others?
        </th>

        <th>
          Review Tags
        </th>
      
      
        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_reviews.each do |a_review| %>
      <tr>
      

        

        <td>
          <%= a_review.book_article.title %>
        </td>

        <td>
          <%= a_review.rating %>
        </td>

        <td>
          <%= a_review.notes %>
        </td>

        <td>
          <%= a_review.recommend %>
        </td>

        <td>
          <%count = 0%>
          <%a_review.review_tags.each do |review_tag|%>
            <%= review_tag.tag.tag %>
            <%count = count + 1%>
            <%if count < a_review.review_tags.count %>
              <%=","%>
            <%end%>
          <%end%>
        </td>

        <td>
          <%= time_ago_in_words(a_review.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_review.updated_at) %> ago
        </td>

        <td>
          <a href="/reviews/<%= a_review.id %>">
            Show Review Details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
