<div>
  <div>
    <h1>
      Review #<%= @the_review.id %> details
    </h1>

    <div>
      <div>
        <a href="/reviews">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_review/<%= @the_review.id %>">
          Delete review
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Rating
      </dt>
      <dd>
        <%= @the_review.rating %>
      </dd>

      <dt>
        Notes
      </dt>
      <dd>
        <%= @the_review.notes %>
      </dd>

      <dt>
        Recommend
      </dt>
      <dd>
        <%= @the_review.recommend %>
      </dd>

      <dt>
        Book article
      </dt>
      <dd>
        <%= @the_review.book_article_id %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_review.user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_review.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_review.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit review
    </h2>

    <form action="/modify_review/<%= @the_review.id %>"  method="post" >
      <div>
        <label for="rating_box">
          Rating
        </label>

        <input type="text" id="rating_box" name="query_rating" value="<%= @the_review.rating %>">
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <textarea id="notes_box" name="query_notes"><%= @the_review.notes %></textarea>
      </div>

      <div>
        <label for="recommend_box">
          Recommend
        </label>

        <input type="text" id="recommend_box" name="query_recommend" value="<%= @the_review.recommend %>">
      </div>

      <div>
        <label for="book_article_id_box">
          Book article
        </label>

        <input type="text" id="book_article_id_box" name="query_book_article_id" value="<%= @the_review.book_article_id %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_review.user_id %>">
      </div>

      <button>
        Update review
      </button>
    </form>
  </div>
</div>

<hr>
