<div>
  <div>
    <h1>
      Review on <%= @the_review.book_article.title %> 
    </h1>

    <div>
      <div>
        <a href="/allreviews">
          Go back
        </a>
      </div>

      <%if session[:user_id] == @the_review.user_id%>
        <div>
          <a href="/delete_review/<%= @the_review.id %>">
            Delete review
          </a>
        </div>
      <%end%>
    </div>

    <dl>
      <dt>
        Rating
      </dt>
      <dd>
        <%= @the_review.rating %>
      </dd>

      <dt>
        Notes
      </dt>
      <dd>
        <%= @the_review.notes %>
      </dd>

      <dt>
        Recommend this book to Others?
      </dt>
      <dd>
        <%= @the_review.recommend %>
      </dd>

      <dt>
        Book/Article Title
      </dt>
      <dd>
        <a href = "/books_articles/<%=@the_review.book_article.id%>"><%= @the_review.book_article.title %></a>
      </dd>

      <dt>
        Reviewer
      </dt>
      <dd>
        <%= @the_review.user.name %>
      </dd>

      <dt>
        Created
      </dt>
      <dd>
        <%= time_ago_in_words(@the_review.created_at) %> ago
      </dd>

      <dt>
        Updated
      </dt>
      <dd>
        <%= time_ago_in_words(@the_review.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <%if session[:user_id] == @the_review.user_id%>
  <div>
      <h2>
        Edit review
      </h2>

      <form action="/modify_review/<%= @the_review.id %>"  method="post" >
        <div>
          <label for="rating_box">
            Rating
          </label>

             <select name="query_rating" id="query_rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            </select>
        </div>

        <div>
          <label for="notes_box">
            Notes
          </label>

          <textarea id="notes_box" name="query_notes"><%= @the_review.notes %></textarea>
        </div>

        <div>
          <label for="recommend_box">
            Recommend this book to Others?
          </label>

          <select name="query_recommend" id="query_recommend">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        </div>


        <button>
          Update review
        </button>
      </form>
  </div>
  <%end%>
</div>

<hr>

<div>
<h2>
  Add a comment
</h2>

<form action="/insert_review_comment"  method="post" >
        <div>
          <label for="query_comment">
            Comment
          </label>
          <textarea id="query_comment" name="query_comment" rows="5" columns="50"></textarea>

  

          <input type="hidden" id="query_review_id" name="query_review_id" value="<%= @the_review.id %>">
        </div>

        

        <button>
          Add Comment
        </button>
      </form>

</div>

<div>
  <div>
    <table>
      <tr>

        <th>
          User
        </th>

        <th>
          Comment
        </th>

      
        <th>
          Created
        </th>

      </tr>

      <% @list_of_comments.each do |comment| %>
      <tr>
      

        <td>
          <%= comment.user.name %>
        </td>

        <td>
          <%= comment.comment %>
        </td>

    

        <td>
          <%= time_ago_in_words(comment.created_at) %> ago
        </td>
     

    
      </tr>
      <% end %>
    </table>
  </div>
</div>

