<!DOCTYPE html>
<html>
  <head>
    <title>Every Book and Cranny</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!--<link rel="stylesheet" href="/bootstrap.css">-->

    <style>
      .greennotice {
        background: rgba(0, 170, 0, 0.3);
        padding-top: 15px;
        padding-bottom: 15px;
        text-indent: 15px;
        border-left: 5px solid green;
        
      }
      .redalert {
        background: rgba(255, 0, 0, 0.3);
        padding-top: 15px;
        padding-bottom: 15px;
        text-indent: 15px;
        border-left: 5px solid darkred;
     
      }

      h1{
        color: #00a3cc    
      }

      .tab { margin-left: 15px; }

      .blue {
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-right: auto;
        margin-left: auto;
        background-color: #F0FCFF;
       
  
      }

      .white {
        
        margin-right: auto;
        margin-left: auto;
        background-color: white;
        padding-right: 10x;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
       
  
      }

      td{
        min-width:60px
        max-width:400px

      }
      th{
        min-width:60px
        max-width:400px
      }
      table {
        border-spacing: 10px;
       
        border-collapse:separate;
      }
    </style>

  </head>

  <body>
  <div class="container">
      <nav>
        <ul>
        <%if @current_user == nil %>
          <li><a href="/user_sign_in">Sign In</a></li>
          <li><a href="/user_sign_up">Sign Up</a></li>
        <%else%>
          <li><a href="/user_sign_out">Sign Out</a></li>
          <li><a href="/myreviews">My reviews</a></li>
          <li><a href="/allreviews">All reviews</a></li>
        <%end%>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </div>
    <div class="container">
      
        <%if alert.present? %>
          <div class="redalert">
            <div><%=alert%></div>
          </div>
        <%end%>
    
        <%if notice.present? %>
          <div class="greennotice">
            <div><%=notice%></div>
          </div>
        <%end%>
      
      <%= yield %>
    </div>
  </body>
</html>
